[Desktop Entry]
Type=Application
Version=1.0
Name=ferdium
Comment=ferdiumstartup script
Exec=/tmp/.mount_Ferdiui1MWzj/ferdium
StartupNotify=false
Terminal=false